################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Transport Pro/.github
/Transport Pro/.vs/Transport Pro
